.about {
    margin: 2rem 0;
}

.about img {
    width: 20rem;
    filter: grayscale(20%);
    box-shadow: 5px 5px 14px 9px #92929238;
    position: relative;
    object-fit: cover;
    object-position: 100% 0;  
}

.about div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about p {
    padding-right: 2rem;
    line-height: 3rem;
    width: 65%;
}

@media (max-width: 1280px) {
    .about p {
        width: 100%;
        padding: 0;
    }
}