nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d1d1d1;
    border-bottom: 1px solid #a5a5a5;
    width: 100%;
}

nav h1 {
    margin: 1rem 0;
    padding: 0 10%;
}

nav ul {
    display: flex;
    list-style: none;
    width: -webkit-fill-available;
    margin: 0;
    justify-content: flex-end;
    padding: 0 10%;
}

nav li {
    margin: 0;
    transition: color 0.5s ease;
    color: #2e2e2e;
    letter-spacing: 0.5mm;
}

nav li a {
    padding: 0.5rem 1.5rem;
}

nav li:hover {
    color: rgb(108, 58, 5);
}

nav ul :not(:first-child) {
    border-left: 1px solid #a5a5a5;
}

@media (max-width: 1280px) {
    nav ul :not(:first-child) {
        border-left: none
    }
}